.feature-news{
    background-image: linear-gradient(to right, red , yellow),url("../public/Assets/f_news.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;

    color: red;
}